.movie_page {
    padding: 1rem;
    max-width: 800px;
    margin: auto;
}

.backdrop {
    width: 100%;
    display: block;
    margin: auto;
    border-radius: 1rem;
    margin-bottom: 2rem;
}

.movie_page button {
    margin-top: 2rem;
    padding: 1rem;
    font-size: 1.1rem;
    background-color: #4a1334;
    color:  white;
}

@media only screen and (max-width: 500px) {
    .movie_page button {
        width: 95%;
        margin: 2rem auto;
        display: block;
    }
}