.movie_page {
    padding: 1rem;
    max-width: 800px;
    margin: auto;
}


.backdrop {
    width: 100%;
    display: block;
    margin: auto;
    border-radius: 1rem;
    margin-bottom: 2rem;
}





.backBtn {
    background-color: burlywood;
    margin: 2rem auto;
}

:global(.darkmode) .backBtn  {
    background-color: rgb(48 79 145 / 99%);
    color: antiquewhite;
}

@media only screen and (max-width: 500px) {
    .backBtn {
        width: 95%;
        display: block;
    }
}