.movieCard,
.movieCard:link,
.movieCard:visited,
.movieCard:hover,
.movieCard:active {
    text-decoration: none;
    color: unset;
}


.movieCard {
    padding: 1rem;
    
}

.movieCard img {
    width: 100%;
    border-radius: 0.3rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.movieCard h2 {
    font-size: 1.2rem;
    margin: 0.5rem auto;
}


.genre {
    padding: 0.2rem;
    border: 1px solid grey;
    border-radius: 3px;
    margin: 0.2rem 0.2rem 0.2rem 0;
    display: inline-block;
    font-size: 0.8rem;
}