.MovieCard {
    width: 50%;
    list-style: none;
    margin: 0.5rem auto;
}

.MovieCard img {
    width: 100%;
}

.content {
    background-color: rgb(251, 239, 255);
    height: 100%;
    margin: 5px;
}

@media (min-width: 375px) {
    .MovieCard {
        width: 33.33%;
    }
}

@media (min-width: 768px) {
    .MovieCard {
        width: 25%;
    }
}

@media (min-width: 1280px) {
    .MovieCard {
        width: 20%;
    }
}

@media (min-width: 1920px) {}