.movieCard {
    padding: 1rem;
}

.movieCard img {
    width: 100%;
}

.movieCard h2 {
    font-size: 1.2rem;
    margin: 0.5rem auto;
}

.genres {}

.genre {
    padding: 0.2rem;
    border: 1px solid grey;
    border-radius: 3px;
    margin: 0.2rem 0.2rem 0.2rem 0;
    display: inline-block;
    font-size: 0.8rem;
}