.header {
    padding: 0.5rem 20px;
    background-color: rgb(223, 223, 223);
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(80, 80, 80)
}

.filtersBtn {
    background-color: rgb(80, 80, 80);
    color:rgb(223, 223, 223);
    padding: 0 1rem;
}

:global(.darkmode) .header {
    background-color: rgb(80, 80, 80);
    border-bottom: 1px solid grey;
}

:global(.darkmode) .filtersBtn {
    background-color: rgb(239, 239, 239);
    color: black;
}

.header svg {
    scale: 1.5;
    cursor: pointer;
}

.header svg:focus {
    outline: none;
}