.darkmode {
    background-color: rgb(80, 80, 80);
  }


.darkmode h2,
.darkmode span,
.darkmode p,
.darkmode label,
.darkmode a,
.darkmode hr {
    color: lightgrey;
}

.darkmode h1 {
  color: cornsilk;
}

.darkmode span {
  border-color: lightgrey;
}

.darkmode .btn {
  background-color: rgb(240, 240, 240);
  color: rgb(80, 80, 80);
}