@import url('./css/utils.css');
@import url('./css/elements.css');
@import url('./css/darkmode.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  transition: background-color 300ms ease-in, color 300ms ease-in;
}

