.recommend input, 
.recommend button,
.recommend label,
.recommend select,
.recommend form {
    display: block;
    padding: 0.5rem;
    text-align: center;
    margin: auto;
}

.recommend form {
    width: 90%;
    max-width: 600px;
    margin: auto;
}

.recommend input,
.recommend input {
    width: 90%;
}

.recommend button {
    margin-top: 2rem;
    padding: 1rem;
}

